html {
    background: url(../img/froghomepage.jpg) no-repeat center fixed;
    background-size: cover;
}

#quote {
    font-style: italic;
}

#homePage {
    margin-right: 50px;
    text-decoration: underline red;
    color: white;
    font-weight: 300;
    font-size: 18px;

}

#homePage:hover {
    text-decoration: underline;
}

#aboutPage {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;

}

#aboutPage:hover {
    text-decoration: underline;
}

#quizPage {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;

}

#quizPage:hover {
    text-decoration: underline;
}

body {
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    padding-top: 35px;
    color: blanchedalmond;
    text-shadow: 4px 4px black;

}

#quote {
    font-family: monospace;
    font-size: 19.5px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: blanchedalmond;
    text-shadow: 1px 1px black;
}

#jean {
    text-shadow: 1px 1px black;
    font-weight: 550;
    font-size: 18px;
}

a {
    color: blanchedalmond;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}



