html {
    background: url(../img/froghomepage.jpg) no-repeat center fixed;
    background-size: cover;
}

body {
    text-align: center;
}

#homePage {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;

}

#homePage:hover {
    text-decoration: underline;
}

#aboutPage {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;

}

#aboutPage:hover {
    text-decoration: underline;
}

#quizPage {
    text-decoration: none;
    text-decoration: underline red;
    color: white;
    font-weight: 300;
    font-size: 18px;
}

#quizPage:hover {
    text-decoration: underline;
}